* {
    margin: 0;
    padding: 0;
}

html { max-width: 1200px; }

body {
	padding: 2em;
    font-size: 16px;
    max-width: 1200px;
}

#backgroundImage {
    background-image: url(../images/pizzaImage.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    width: 100%;
}

#text {
        background-color: black;
        padding: 2.5em;
        margin: 2em 0 2em 0;
}

h1 {
    font-size: 2em;
    padding-top: .30em;
}

input {
    margin-top: .25em;
    width: 90%;
    height: 2.5em;
}

select {
    width: 90%;
    height: 2.5em;
}

h2 { color: red; }

#delivery h2, #billing h2 { padding-top: 3em; }

#order { padding-top: 4em; }

label { margin-top: 1em; }

#checks {
    height: 1.5em;
    width: 2em;
}

input#billingCheck, input#handTossed, input#thinCrust, input#newYork, input#glutenFree  {
    height: 1.5em;
    width:  2em;
}

h3 { color: red; }

#submit1, #submit2 {
    margin-top: 4.5em;
    margin-bottom: 2em;
    margin-left:15px;
    margin-right: 15px;
    width: 100%;        
}

#card { color: red; }
